
body {
    background-color:aliceblue;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2 {
    color: #1d3557;
}

#signup{
    background-color: #2a74dd;
    color: #a4ada0;
}

span{
    color: #2a74dd;
}

.tag{
    font-size: 20xp;
    background-color: aqua;
}

.post a{
    color: blueviolet;
    background-color: aqua;
}

input + button{
    background-color: pink;
}

h2 + button{
   background-color:burlywood;
}

footer > a{
    color: black;
}

input[type = "password"] {
    color: green;
}

section[class="post"]{

    background-color:beige;

}

.post button:hover{
    background-color: brown;
    color: white;
}

.post button:active{
    background-color: black;
    color: black;
}

.post:nth-of-type(3){
    background-color: rgb(174, 186, 162);
}

h2::first-letter{
    font-size: 40px;
}

button{
    background-color:maroon !important;
}